:root {
    --inputbg: #e5e7eb;
    /*#f2f4f6;#e2e8f0;#e4e7e9;*/
}

input {
    background-color: var(--inputbg);
}

.ant-input-number {
    background-color: var(--inputbg);
}

.ant-picker-outlined {
    background-color: var(--inputbg);
}

.ant-select-selector {
    background-color: var(--inputbg) !important;
}

.ant-input-outlined {
    background-color: var(--inputbg);
}

.ant-form-item-label>label {
    font-weight: bold;
}

.ant-form-item {
    margin-bottom: 0;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected {
    color: #fff;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-primary {
    background-color: #055e35;
    color: #fff;
}

.loader {
    --d: 22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #006533;
    box-shadow:
        calc(1*var(--d)) calc(0*var(--d)) 0 0,
        calc(0.707*var(--d)) calc(0.707*var(--d)) 0 1px,
        calc(0*var(--d)) calc(1*var(--d)) 0 2px,
        calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
        calc(-1*var(--d)) calc(0*var(--d)) 0 4px,
        calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
        calc(0*var(--d)) calc(-1*var(--d)) 0 6px;
    animation: l27 1s infinite steps(8);
}

@keyframes l27 {
    100% {
        transform: rotate(1turn)
    }
}